alembic
fastapi
fastapi-pagination[sqlalchemy]
ldap3
passlib[bcrypt]
psycopg2-binary
# See: https://github.com/samuelcolvin/pydantic/issues/4131
pydantic<1.9.1
python-dotenv
python-jose[cryptography]
python-multipart
SQLAlchemy
uvicorn
